body{
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  min-width: 100vw;
}
.page{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.navbar{
  color: white;
  width: 20%;
  padding: 20px 10px;
  background-color: #000000;
}
.content{
  width: 80%;
  padding: 20px 10px;
  background-color: #ffffff;
}
h2{
  text-align: center;
}
.list-item{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}
.list {
  list-style-type: none;
  padding: 0;
}